/* CSS Document */
.pushmenu {
        background-image:url(images/background1.jpg);
        
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
				
}
 
.pushmenu-head {
		color:#890503;
		margin-top: 4%;
        height: 50px;
		margin-bottom: 10%;
		box-shadow: 5px 10px 5px #000,5px -5px 5px #000;
		background-color:white;
		opacity:.3;
		font-size:2em;
		text-align:center;
		
}
  
.pushmenu-bottom{
		background-color:white;
		opacity:.3;
		overflow:hidden;
		height: 500px;
	}
.pushmenu a {
        display: block;
        color:#890503;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
		background-color:white;
		opacity:.3;
		box-shadow: 5px 10px 5px #000,5px -5px 5px #000;
}
 
.pushmenu a:hover {
        background:258ecd;     
}
 
.pushmenu a:active {
        background: #454f5c;
        color: #fff;   
}
 
.pushmenu-left {
        left: -240px;  
}
.pushmenu-left.pushmenu-open {
        left: 0px;     
}
 
.pushmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;       
}
 
.pushmenu-push-toright {
        left: 240px;   
}
 
/*Transition*/
.pushmenu, .pushmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;     
}
*{ margin: 0; padding: 0; border: 0; }
html{height: 100%;}
body		{ 
				background-image:url(images/background1.jpg);
				background-repeat:no-repeat;
				background-attachment:fixed;
				background-size:cover;
					
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;	
				
				height: 100%;
				
				
			}

#center		{
				width: 100%;
				height:100%;
			}
#wrap		{
				position:;
			}
.navbar 	{
			   background-color: white;
			   opacity:.3;
			   /*background: transparent;*/
			   box-shadow: 5px 10px 5px #000,5px -5px 5px #000;
			   border:0px;
			   /*padding-top:7px;*/
			   margin-top: 2%;/*20px*/
			   margin-bottom: 4%;/*40px*/
			   border-radius:0px;
			   <!--height:11%;-->
			}
.navbar .navbar-header a
			{
				color:#890503;
			}
.navbar #navbarCollapse
			{
				
				
			}
.navbar #navbarCollapse .nav  > li > a
			{
				color:#890503;
				font-size:1em;
				text-align:center;
				padding-right:30px;
				padding-left:30px;
				
					
			}
.navbar #navbarCollapse .nav  > li > a:hover
			{
				color:#890503;
				font-size:1.2em;
				box-shadow: 2px 2px #fff;
				padding-left:19px;
				
			}
.navbar-header
			{
				/*padding-top: 0.5%;
				padding-bottom: 7px;*/
			}
.navbar-brand
			{
				font-size:2.5em;
				margin-top: 4%;
			}

/*#trans_nav	{
				height:100%;
				width:100%;
				position:absolute;
				background-color:#FFFFFF;
				opacity:0.3;
				filter:alpha(opacity=30); 
				z-index:-1;
			}
#nav_con	{
				position:relative;
				height:auto;
			}
*/
/*******************************************************element 2 start Content*/	
#trans_div_back
			{
				height:100%;
				width:100%;
				position:absolute;
				background-color:#FFFFFF;
				opacity:0.3;
				filter:alpha(opacity=30); 
				z-index:-1;
				
				
			}
/*.trans_div_bkg
			{
				background-image
			}*/	
#content
			{
				/*margin-top:4%;*/
				/*width:100%;*/
				height:400px;
				
				/*height:50%;auto;*/
				
				overflow:hidden;
				position:relative;
				/*border-top:1px solid black;*/
				
				box-shadow: 1px 5px 5px #000,1px -2px 5px #000;
				margin-bottom:2%;
				
			}
.container-fluid
			{
				/*padding-top:150px;*/
				padding-top:0px;
			}


/*******************************************************element 1 end content*/

#left_arrow
			{
				width: 0; 
				
				
					height: 0; 
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent; 
	
	border-right:150px solid rgba(255,255,255,.1);
	
			}
.left_arrow
			{
				
				/*background-color:yellow;*/
				
			}
.slide_content
			{
				
				
			}
.right_arrow
			{
				
				/*background-color:green;*/
			}
.middle_content
			{
				height:300px;
				margin-top:50px;
				
				position:relative;
			}
/*******************************************************element 2 start inner-Content*/

#content_container
			{
				
				
				
			}
#trans_div
			{
				width:100%;
				height:100%;
				position:absolute;
				/*background-color: rgb(240,240,240);*/
				background-image:url(images/background5.jpg);
				background-repeat:repeat;
				opacity:0.8;
				z-index:-1;		
				border:1px solid #000;
				border-radius: 15px;
				/*box-shadow:inset 0px -2px 8px 0px black, inset 0px 2px 9px 0px white, inset 4px 0px 9px 1px black, inset -4px 0px 9px 1px black;	*/
				
				box-shadow:/*inset -3px -3px 8px #000000 ,*/inset 4px 4px 8px 0px #000000;
				-webkit-box-shadow: inset 4px 4px 8px 0px #000000;
    			-moz-box-shadow: inset 4px 4px 8px 0px #000000;
				
				
			}
#content_container_img
			{
				width:100%;
				height:300px;
				overflow: hidden;	/*This makes the child elements float left and right*/		
				font-size: 16px;
				
				background-image:url(images/background5.jpg);
				background-repeat:repeat;
						
				border:1px solid #000;
				border-radius: 15px;
				
				box-shadow:/*inset -3px -3px 8px #000000 ,*/inset 4px 4px 8px 0px #000000;
				-webkit-box-shadow: inset 4px 4px 8px 0px #000000;
    			-moz-box-shadow: inset 4px 4px 8px 0px #000000;
			}

/*******************************************************element 2 end inner-Content*/	
/*******************************************************element4 start home*/
#home
			{
				width:100%;
				height:100%;
			}

/*******************************************************element4 end home*/
	
/*******************************************************element4 start coming_soon*/
#content_container_comingsoon
			{
				max-width:720px;
				min-width:320px;
				margin: 0 auto;
				height:auto;
				margin-top:2%;
				position:relative;
				clear:both;
			}
#trans_div_comingsoon
			{
				width:100%;
				height:100%;
				position:absolute;
				/*background-color: rgb(240,240,240);*/
				background-image:url(images/background5.jpg);
				background-repeat:repeat;
				opacity:0.8;
				z-index:-1;		
				border:1px solid #000;
				border-radius: 15px;
				/*box-shadow:inset 0px -2px 8px 0px black, inset 0px 2px 9px 0px white, inset 4px 0px 9px 1px black, inset -4px 0px 9px 1px black;	*/
				
				box-shadow:/*inset -3px -3px 8px #000000 ,*/inset 4px 4px 8px 0px #000000;
				-webkit-box-shadow: inset 4px 4px 8px 0px #000000;
    			-moz-box-shadow: inset 4px 4px 8px 0px #000000;
				
				
			}
#content_container_img_comingsoon
			{
				width:100%;
				height:100%;
				overflow: auto;	/*This makes the child elements float left and right*/		
				font-size: 16px;
			}	
#coming_soon
			{
				max-width:750px;
				min-width:320px;
				margin: 0 auto;
				height:auto;
				margin-top:50px;
				position:relative;
			}
/*******************************************************element4 end coming_soon*/

#content_slide1
			{
				width:95%;
				position:relative;
				
				margin-left: auto;
 				margin-right: auto;
				margin-top:25px;
				margin-bottom:25px;
				height:250px;
				 	
			}
#obia_logo	{
				width:40%;
				height:100%;
				float:left;				
				position:relative;
				/*margin-top:5%;*/
				
			}
#div-text	{
				width:60%;
				position:relative;
				float:right;
				color: black;
				height:100%;	
				/*margin-top:5%;*/
			}
#div-text_wrap
			{
				height:100%;
				width:100%;
				position:absolute;
				background-color:#FFFFFF;
				opacity:0.3;
				filter:alpha(opacity=30); 
				border:1px solid #000;
				border-radius: 15px;
				z-index:1;
				box-shadow: 1px 5px 5px #000,1px -2px 5px #000;
			}
/*******************************************************element3 end div_template*/	

/*******************************************************start footer*/	

#footer		{
				
				height:5%;/*30px*/
				min-height:30px;
				background-color: white;
			   	opacity:.3;
				/*position:absolute;
				bottom:0px;*/
				box-shadow: 1px -5px 2px #000;
				
			}
.footer_text{
				font-size:1.2em;
				text-align:right;
			}
.footer_height
			{
				/*height:30px;*/
			}	

/*******************************************************end footer*/	

#content_text
			{
				
			}
			
.form_check
			{
				font-size:0.55em;
				width:100%;
				height:100%;
			}
			

#labels		{
				width:25%;
				height:100%;
				float:left;
			}
#input		{
				width:75%;
				height:100%;
				float:left;
				margin-top:1%;
			}
.label1		{
				width:100%;
				height:5px;
			}
#social_icons
			{
				float:right;
				width:100px;
				height:300px;
				
			}
#f_icons	{
				background-image:url(images/099630-glossy-waxed-wood-icon-social-media-logos-facebook-logo-square.png);
				background-repeat:no-repeat;
				width:100%;
				height:100%;				
			}
#t_icons	{
				background-image:url(images/099699-glossy-waxed-wood-icon-social-media-logos-twitter-bird2.png);
				background-repeat:no-repeat;
				width:100px;
				height:100px;
			}
#i_icons	{
				background-image:url(images/wood-instagram-icon.png);
				background-repeat:no-repeat;
				width:100px;
				height:100px;
			}
.margin20	{
				margin: 20px 20px;
			}
.tester{}

#nostyle	{
				list-style-type:none;
			}
			
.ancient	{
				
				font-size:.75em;
				text-align:justify;
				z-index:2;
				position:relative;
			}
.bottom		{
				position:absolute;
   				bottom:0;
				right:160px;
				
			}
			
.title		{
				margin-top:25px;
				text-align:center;
				width:50%;
				
				margin-left: auto ;
 				margin-right: auto ;
				font-family: 'Lobster', cursive;
				color:#FFFFFF;
				font-size:50px;
			}
.content_slide
			{
				width:100%;
				
			}

.product_shelf
			{
				
				font-size:60px;
			}
.aboutus	{
				
				font-size:1.2em;
				text-align:center;
			}
.word		{
				font-size:.90em;
			}
#logo		{
				
				background-image:url(images/logo-obiaspirits2.png);
				width:100%;
				height:100%;
				background-repeat:no-repeat;
			}
#no_age_cookie
			{
				position:absolute; 
				top:0px;
				height: 100%; 
				width: 100%;
				
			}
.font_type1{ font-family: 'Gabriela', serif;
}
.font_type2{ font-family: 'Lobster', sans serif;
}
.font_color1{ color:#FFFFFF;
}
.font_color2{ color:#890503;
}
.font_color3{ color:black /*rgb(125, 116, 73)*/;
}
/*img 		{
				opacity:0.9;
				filter:alpha(opacity=70); 
				position:relative;
				clear:both;
			}*/
.center		{
				width:95%;
				margin:0 auto;
				
			}
.center_img		{
				
				margin:0 auto;
			}			
#floater	{
				float:left; 
				height:50%; 
				margin-bottom:-190px;
			}
#home_scroll		
			{
				height:20%;
				width:100%;
			}
#home_scroll_home
			{
				width:50%;
				margin:0 auto;
				height:20%;
			}
logo_title	{
				font-size:1.18em;
				width:100%;
			}
			

/*******************************************************contact div*/	
#contactus	{
				
				height:auto;
				
				width:70%;
				margin:0 auto;
				
			}
#left_col	{
				width:40%;
				float:left;
			
			}
#right_col	{
				width:40%;
				float:right;
			}
#box		{
				width:100%;
				height:50%;
			}
#image		{
				width:100%;
				
			}
#text		{
				width:100%;
				height:25%;
			}
/*******************************/
#comingsoontext
			{
				font-size:5em;
				text-align:center;
				color:#660000;	
				text-shadow:0.02em 0.02em #CCCCCC;
			}

/******************************320X480*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
	background-color:#333;
	/*opacity:1;*/
	border-radius:10px;
	margin-top:2%;
	display: inline-block;
    vertical-align: middle;
    float: none;
}


@media only screen and (max-width : 767px) {
.navbar-header
			{
				padding-top: 0px;
				padding-bottom: 0px;
			}
.navbar-brand
			{
				font-size:2em;
				margin-top: 0px;
				float:right;
			}
.footer_text{
				font-size:.8em;
				text-align:right;
			}
.navbar-toggle 	
			{
			   float:left;
			   margin-left: 15px;
			}

/*#content_container
			{
				width:80%
				margin: 0 auto;
			}*/

}
@media only screen and (max-width : 541px) {
.aboutus	{
				font-size:.9em;
				text-align:center;
				
			}
.about_us #obia_logo, .ancient_history #obia_logo
			{
				display:none;
			}
.about_us #div-text, .ancient_history #div-text
			{
				width:100%;
				/*overflow:scroll;*/
			}
}
@media only screen and (max-height : 641px) {

	.container-fluid
					{
						/*padding-top:90px;*/
						padding-top:0px;
					}
	.middle_content {
						
						margin-top: 25px;
						height:420px;
						
					}
	#content 		{
   						 height: 420px;
					}
	#content_container_img 
					{
						height:370px;
					}
}
@media only screen and (max-height : 541px) {

	.container-fluid
					{
						/*padding-top:90px;*/
						padding-top:0px;
					}
	.middle_content {
						
						margin-top: 25px;
						height:340px;
						
					}
	#content 		{
   						 height: 340px;
					}
	#content_container_img 
					{
						height:280px;
					}
}
@media only screen and (max-height : 481px) {

	.container-fluid
					{
						/*padding-top:90px;*/
						padding-top:0px;
					}
	.middle_content {
						
						margin-top: 25px;
						height:450px;
						
					}
	#content 		{
   						 height: 300px;
					}
	#content_container_img 
					{
						height:250px;
					}
	#content_slide1
					{
						height:200px;
					}
	.ancient		{
						height:165px;
						overflow:scroll;
						
					}
}
@media only screen and (max-height : 420px) {

	.container-fluid
					{
						/*padding-top:70px;*/
						padding-top:0px;
					}
	.middle_content {
						
						margin-top: 10px;
						height:260px;
						
					}	
	#content 		{
   						height: 260px;
					}
	/*#home img		{
						height: 40%;
					}*/
	#content_container_img 
					{
						height:220px;
					}
	.ancient		{
						height:145px;
						overflow:scroll;
					}
	#content_slide1
					{
						height:175px;
					}
	.aboutus	{
				font-size:.8em;
				text-align:center;
				
			}
}
@media only screen and (max-height : 361px) {

	.container-fluid
					{
						/*padding-top:70px;*/
						padding-top:0px;
					}
	.middle_content {
						
						margin-top: 10px;
						height:200px;
						
					}
	#content 		{
   						height: 200px;
					}
	/*#home img		{
						height: 40%;
					}*/
	#content_container_img 
					{
						height:180px;
					}
	.ancient		{
						height:105px;
						overflow:scroll;
					}
	#content_slide1
					{
						height:135px;
					}
		.aboutus	{
					font-size:.7em;
					text-align:center;
					
					}
}